/* ! Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}

.links ul li {
  display: inline-block;
  cursor: pointer;
}

/* # Utils */

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.container-sm {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col-100 {
  width: 100%;
}

.col-70 {
  width: 70%;
}

.col-50 {
  width: 50%;
}

.col-30 {
  width: 30%;
}

.btn {
  display: inline-block;
  padding: 0.4rem 0.9rem;
  border: 0;
  font-size: 0.8rem;
  cursor: pointer;
}

/* # Header */

.page-header {
  padding: 1.1rem 1rem;
  color: #3e3e3e;
}

.page-header .row {
  justify-content: space-between;
  align-items: center;
}

.page-header .logo {
  height: 1.2rem;
  vertical-align: sub;
}

.page-header .link {
  font-size: 0.8rem;
  margin: 0 0.8rem;
}

.page-header .btn.btn-login {
  color: #3e3e3e;
  background-color: transparent;
}

.page-header .btn.btn-sign-up {
  color: white;
  background-color: #0061ff;
}

/* # Hero Section */

.hero-section {
  background-color: #b4d0e7;
  min-height: 25rem;
}

.hero-section .container > .row {
  position: relative;
  top: 3.7rem;
  left: 0;
}

.hero-title {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.hero-text-content {
  font-size: 0.8rem;
  color: #3e3e3e;
  margin-bottom: 1rem;
}

.btn.btn-free-trial {
  padding: 0.6rem 0.9rem;
  margin-bottom: 1rem;
}

.hero-section .col-30 i {
  font-size: 2.5rem;
  padding-top: 5.5rem;
}

/* # Business Plan Section */

.business-plan-section {
  margin: 7rem 0;
}

.business-plan-title {
  padding-bottom: 2.5rem;
}

.business-plan-title .title {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.business-plan-title .radio {
  display: inline-block;
  margin-right: 2rem;
  font-size: 0.8rem;
  color: black;
  font-weight: 100;
}

.business-plan-section .container-sm > .row {
  flex-wrap: wrap;
  justify-content: space-between;
}

.business-plan-section .container-sm > .row > .col-30 {
  display: flex;
}

.card {
  border: 1px solid #dddddd;
}

.card-header {
  text-align: center;
  font-size: 0.7rem;
  color: black;
  font-weight: 100;
  padding: 0.7rem 0;
  border-bottom: 1px solid #dddddd;
}

.card-main {
  margin: 2rem 1.7rem;
}

.card-main > .row {
  flex-direction: column;
}

.card-main-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.card-main-title .card-main-subtitle {
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
}

.card-main-title .card-main-price {
  color: black;
  font-size: 0.8rem;
  font-weight: 600;
  padding-top: 1rem;
}

.card-main-title .card-main-period {
  color: #333;
  font-size: 0.7rem;
  padding-top: 0.7rem;
}

.card-main-spec {
  margin-bottom: 2rem;
  position: relative;
}

.card-main-spec ul {
  padding-left: 1rem;
  font-size: 0.7rem;
  color: black;
  font-weight: 200;
}

.card-main-spec ul li {
  margin-bottom: 0.5rem;
  list-style-type: none;
}

.card-main-cta .btn-free-trial-card {
  width: 100%;
  padding: 0.6rem 0;
}

.card-main-cta span {
  font-size: 0.7rem;
  color: black;
  font-weight: 200;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #ddd;
}

.card-main-cta a {
  text-decoration: underline;
  color: #0082f5;
  font-size: 0.7rem;
  font-weight: 200;
}

.card-main-advantages ul {
  padding-left: 1rem;
  font-size: 0.7rem;
  color: black;
  font-weight: 200;
}

.card-main-advantages ul li {
  margin-bottom: 0.5rem;
  list-style-type: none;
  position: relative;
}

.business-plan-section .col-100 {
  margin-top: 2rem;
}
.business-plan-section .col-100 .row {
  height: 100px;
}

.business-plan-section .col-100 .row {
  flex-wrap: nowrap;
}

.card-icon-user {
  position: absolute;
  left: 1%;
  top: 8%;
}

.card-icon-users {
  position: absolute;
  left: 0%;
  top: 7%;
}

.card-icon-folder {
  position: absolute;
  left: 1%;
  top: 26%;
}

.card-icon-node {
  position: absolute;
  left: 1%;
  top: 58%;
}

.card-icon-check {
  color: #0061ff;
  position: absolute;
  left: -9%;
  top: 10%;
  font-size: 0.8rem;
}

.card-main-advantages > h6 {
  margin-bottom: 1rem;
}

.card-main .row .col-70 p {
  font-size: 0.7rem;
  color: black;
  font-weight: 100;
}

.card-main > .row.single-card {
  flex-direction: row;
}

.card-main > .row.single-card h3 {
  margin-bottom: 0.5rem;
}

.card-main > .row.single-card h6 {
  margin-bottom: 2rem;
}

.card-main > .row.single-card .btn.btn-free-trial {
  width: 100%;
}

/* # Partner Section */

.partner-section .row {
  gap: 3rem;
}

.partner-section .row > .col-30 {
  position: relative;
  left: 0;
  top: 3rem;
}

.btn.btn-partner {
  background-color: transparent;
  border: 2px solid #606060aa;
  color: #1e1e1e;
}

.partner-section .row .col-30 h3 {
  margin-bottom: 0.7rem;
}

.partner-section .row .col-30 p {
  font-size: 0.8rem;
  margin-bottom: 2rem;
}

/* # Multitasking Section */

.multitasking-section {
  margin-top: 7rem;
}

.multitasking-section .row {
  flex-wrap: wrap;
  gap: 2rem;
}

.multitasking-section .row .col-30 {
  flex-grow: 1;
}

.multitasking-section h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.multitasking-section p {
  font-size: 0.9rem;
  color: black;
  font-weight: 100;
  margin-top: 1rem;
}

/* # Client Info Section */

.client-info-section {
  margin-top: 7rem;
}

.client-info-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.client-info-section a {
  text-decoration: underline;
  color: #0061ff;
}

/* # Squares Section */

.col-33 {
  width: 33%;
}

.squares-section > .row {
  flex-wrap: wrap;
}

.squares-section {
  margin-top: 7rem;
}

.squares-section .col-33 .row {
  flex-wrap: wrap;
}

.square {
  flex-grow: 1;
  padding-bottom: 50%;
  position: relative;
}

.gray-row {
  height: 100%;
}

.col-50.square img {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  filter: brightness(0) saturate(100%) invert(91%) sepia(91%) saturate(28%)
    hue-rotate(199deg) brightness(107%) contrast(100%);
}

.row > .col-33 {
  flex-grow: 1;
}

.bg-lightgreen {
  background-color: #a2d39b;
}

.bg-purple {
  background-color: #61082b;
}

.bg-lightblue {
  background-color: #0093ce;
}

.bg-red {
  background-color: red;
}

.bg-not-so-red {
  background-color: #d5001f;
}

.bg-lightcyan {
  background-color: #b4d0e7;
}

.bg-blue {
  background-color: #0d2481;
}

.bg-please-spear-my-eyes {
  background-color: #ffd830;
}

.bg-not-white-enough {
  background-color: #f5f5f5;
}

.gray-row img {
  position: relative;
  top: 15%;
  left: 10%;
  width: 40%;
}

.gray-row p {
  position: relative;
  top: 50%;
  left: 10%;
  width: calc(100% - 20%);
  font-size: 0.8rem;
}

.gray-row div.divider {
  border-top: 1px solid #aaa;
  position: relative;
  width: 15%;
  top: 30%;
  left: 10%;
}

.gray-row p.author {
  position: relative;
  top: 70%;
  left: 10%;
  width: calc(100% - 20%);
  font-size: 0.8rem;
}

.col-100.bg-lightcyan .container-sm {
  padding: 6rem 0;
}

.col-100.bg-lightcyan h2 {
  color: #61082b;
  font-size: 1.8rem;
}

.col-100.bg-lightcyan .col-50 {
  display: flex;
  flex-direction: column;
}

.col-100 .col-50 .btn.btn-free-trial {
  background-color: white;
  color: rgb(49, 49, 49);
  align-self: flex-end;
  font-weight: 100;
  padding: 0.7rem 3rem;
}

/* # FAQ Section */

.faq-section {
  margin: 7rem 0;
}

.faq-section .row {
  flex-wrap: wrap;
}

.faq-section h2 {
  font-size: 2rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid #aaa;
}

.faq-section .row > .col-100 {
  padding: 2rem 0;
  border-bottom: 1px solid #aaa;
  color: black;
  font-size: 0.8rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.faq-section .row > .col-100 span {
  padding-right: 2rem;
}

/* # Footer */

.page-footer {
  color: white;
  background-color: black;
  padding-top: 6rem;
}

.upper-footer .row {
  justify-content: space-between;
}

.sub-title-footer {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.upper-footer .links > ul {
  display: flex;
  flex-direction: column;
}

.upper-footer .link {
  font-size: 0.7rem;
  margin-bottom: 0.9rem;
  margin-left: 0;
}

.lower-footer {
  color: #aaaaaa;
  font-size: 0.8rem;
  padding-top: 3rem;
  padding-bottom: 5rem;
}

.lower-footer .language-choice {
  border-top: 1px solid white;
  display: inline-block;
  padding-top: 3rem;
}

.lower-footer span {
  margin-left: 0.5rem;
}
