/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
}

.links ul li {
  display: inline-block;
  margin: 0 0.9rem;
  cursor: pointer;
}

/* # Utils */

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col-100 {
  width: 100%;
}

.col-70 {
  width: 70%;
}

.col-50 {
  width: 50%;
}

.col-30 {
  width: 30%;
}

.btn {
  display: inline-block;
  padding: 0.4rem 0.9rem;
  border: 0;
  background-color: #0061ff;
  font-size: 0.8rem;
  color: white;
  cursor: pointer;
}

/* # Header */

.page-header {
  padding: 1.1rem 1rem;
  color: #3e3e3e;
}

.page-header .logo {
  height: 1.2rem;
  cursor: pointer;
  margin-right: 1rem;
}

.page-header:first-child .row {
  justify-content: space-between;
}

.page-header .row {
  justify-content: flex-start;
  align-items: center;
}

.page-header .links {
  font-size: 0.8rem;
}

.btn.btn-login {
  color: #3e3e3e;
  background-color: transparent;
}

/* # Section */

.hero-section {
  background-color: #b4d0e7;
  min-height: 25rem;
}

.hero-section .container > .row {
  position: relative;
  top: 3.7rem;
  left: 0;
}

.hero-title {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.hero-text-content {
  font-size: 0.8rem;
  color: #3e3e3e;
  margin-bottom: 1rem;
}

.btn.btn-free-trial {
  padding: 0.6rem 0.9rem;
  margin-bottom: 1rem;
}

.hero-section .col-30 i {
  font-size: 2.5rem;
  padding-top: 4.5rem;
}
