/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
}

/* # Utils */

.container {
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
}

.col-100 {
  width: 100%;
}

.col-50 {
  width: 50%;
}

.links ul {
  list-style-type: none;
}

/* # Header */

.page-header .row {
  justify-content: space-between;
}
